@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<form action="/Home/Contact" method="post">
    <label>Nombre Completo:</label>
    <input type="text" name="name" placeholder="nombre" />
    <br />
    <label>Mail:</label>
    <input type="email" name="mail" placeholder="email@yourdomain.com" />
    <br />
    <label>Direccion:</label>
    <input type="text" name="calle" placeholder="Calle Falsa 123" />
    <br />
    <label>Telefono:</label>
    <input type="text" name="telefono" placeholder="11111111" />
    <br />
    <label>Mensaje:</label>
    <textarea placeholder="Escriba su mensaje aqui..."></textarea>
    <br />
    <input type="submit" name="submit" value="Contactar" />
</form>
