@{
    ViewData["Title"] = "Home Page";
}
<h1>
    Hola esto es una veterinaria
</h1>

<p>Capo estoy laburando, no jodas</p>

<a href="/Home/Contact">IR A CONTACTO</a>

<img src="images/pero.jpg"/>
<img src="images/tenor.gif" />