@{
    ViewData["Title"] = "Home Page";
}
<h1>
    Hola esto es una veterinaria
</h1>

<p>Capo estoy laburando, no jodas</p>


<img src="images/perro.jpg" />

<form>
    <input type="button" value="hola" />
</form>

<h4>No te quejes de la web le pagamos a un ingeniero de la uai que queres</h4>
