@{
    ViewData["Title"] = "Success Contact";
}


<h1>Hola! @ViewBag.Name</h1>

<h1>Gracias por tu contacto! Estaremos comunicandonos contigo en la brevedad.</h1>

<img src="../images/fal.jpg" />
